<div class="container">

  <div class="row">
    <div class="col-12 py-4">
      <h1 class="semi">Analytics Dashboard</h1>
      <hr>
    </div>
  </div>


  <%= form_with url: analytics_date_range_path(delivery_point_id: params[:delivery_point_id]), 
      class: 'form-inline mb-5', local: true do |form| %>

    <div class="input-group mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">From</div>
      </div>
      <input type="text" class="form-control" name="from_date" id="from_date" autocomplete="off" value="<%= @from_date %>">
    </div>

    <div class="input-group mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">To</div>
      </div>
      <input type="text" class="form-control" from_date="to_date" id="to_date" autocomplete="off" value="<%= @to_date %>">
    </div>

    <button type="submit" class="btn btn-dark regular">Submit</button>

  <% end %>
    
    <div class="row mb-4">
        <div class="col-12">
            <h5 class="mb-2 bold">ANALYTICS OVERVIEW</h5>
        </div>

        <div class="col-md-4 mb-2">
            <div class="radius-10 shadow p-5 burning-orange">
                <div class="text-center">
                    <p class="semi mb-0">Total Orders</p>
                    <h1 class="display-4 mb-0 bold">196</h1>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-2">
            <div class="radius-10 shadow p-5 messenger-blue">
                <div class="text-center">
                    <p class="semi mb-0">Sales (TK)</p>
                    <h1 class="display-4 mb-0 bold">110,450</h1>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-2">
            <div class="radius-10 shadow p-5 green-grad">
                <div class="text-center">
                    <p class="semi mb-0">Avg. Ticket Size (TK)</p>
                    <h1 class="display-4 mb-0 bold">563.5</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6 mb-2">
            <div class="radius-10 shadow p-4 bg-white">
                <h5 class="semi">Peak Hours:</h5>
                <br>
                <!-- <p>BARCHART : 12pm to 12am. <br> Labels : Hours vs. number of orders</p> -->

                <canvas id="peakHourBarChart"></canvas>

            </div>
        </div>

        <div class="col-md-6">
            <div class="radius-10 shadow p-4 bg-white">
                <h5 class="semi">Top Locations:</h5>
                <br>
                <!-- <p>PIE CHART : Gulshan, Banani, Niketon, Baridhara</p> -->

                <canvas id="topLocationsPieChart"></canvas>
            </div>
        </div>

    </div>

    <div class="row mb-4">
        <div class="col-md-12 mb-2">
            <div class="radius-10 shadow p-4 bg-white">
                <h5 class="semi">Ordering Channels</h5>
                <p>Multi-line Chart. (Foodpanda vs UberEats vs Pathao vs Direct) VS Days </p>
            </div>
        </div>

    </div>

    <div class="row mb-4">
        <div class="col-md-4 mb-2">
            <div class="radius-10 shadow p-4 bg-white">
                <h5 class="semi">Best Seller Items</h5>
                <div class="row lead regular">
                    <span class="text-left col-8">Signature Tehari</span>
                    <span class="text-right col-4 bold">104</span>

                    <span class="text-left col-8">Firni - Large</span>
                    <span class="text-right col-4 bold">56</span>

                    <span class="text-left col-8">Fried Chicken Roast & Polao</span>
                    <span class="text-right col-4 bold">21</span>

                    <span class="text-left col-8">Chicken Tehari</span>
                    <span class="text-right col-4 bold">15</span>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="radius-10 shadow p-4 bg-white">
                <h5 class="semi">Growth Since Inception</h5>
                <p>LINE CHART : Week by Week Order count</p>
            </div>
        </div>

    </div>








          <% if @orders_total.count == 0 %>
            <h4 class="mt-5 mb-5">No data found. <br> Please change 'date range' and submit.</h4>
          <% else %>
           <canvas id="myChart"></canvas>
          <% end %>

        </div>

    </div>

  

  <!-- <h4>From: <%#= @from_date %> - To: <%#= @to_date %></h4> 
  
  <hr> -->





<% content_for :user_javascript do %>
  <script type="text/javascript">

    $(document).on('turbolinks:load', function() {

      <% if @orders_total.count > 0 %>

      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: <%= @orders_total.keys.as_json.to_s.html_safe %>,
            datasets: [{
              datalabels: {
                backgroundColor: 'rgba(255, 255, 255, 0.5)',
                color: '#333333',
                formatter: function (value) {
                  return Math.round(value) + ' Taka';
                },
                font: {
                  weight: 'bold',
                  size: 18,
                },
              },
              label: 'Daily sell',
              // backgroundColor: 'rgb(255, 99, 132)',
              // borderColor: 'rgb(255, 99, 132)',
              backgroundColor: 'rgba(75, 192, 192, 0.5)',
              borderColor: 'rgb(75, 192, 192)',
              data: <%= @orders_total.values.as_json.to_s.html_safe %>
            }]
        },

        // Configuration options go here
        options: {
          scales: {
            yAxes: [{
              ticks: {
                fontSize: 20
              }
            }],
            xAxes: [{
              ticks: {
                fontSize: 20,
                padding: 5
              }
            }],
          }
        }
      });

      <% end %>

      //================================================

      var dateFormat = "yy-mm-dd";
      from = $( "#from_date" )
        .datepicker({
          dateFormat: dateFormat
          // defaultDate: "+1w",
          // changeMonth: true
          // numberOfMonths: 3
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        });
      to = $( "#to_date" ).datepicker({
        dateFormat: dateFormat
        // defaultDate: "+1w",
        // changeMonth: false
        // numberOfMonths: 3
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

      function getDate( element ) {
        var date;
        try {
          // date = $.datepicker.parseDate( dateFormat, element.value );
          date = element.value;
        } catch( error ) {
          date = null;
        }
   
        return date;
      }

      //==============================================

      
      var peakHourChartx = document.getElementById('peakHourBarChart').getContext('2d');

      var peakHourChart = new Chart(peakHourChartx, {
        type: 'bar',
        // data: [{x:'2016-12-25', y:20}, {x:'2016-12-26', y:10}],


        // data: {
        //   datasets: [{
        //     label: 'Hours vs. number of orders',
        //     // barPercentage: 0.5,
        //     // barThickness: 6,
        //     // maxBarThickness: 8,
        //     // minBarLength: 2,
        //     data: [ 20, 25, 18, 22 ]
        //   }]
        // },

        data: {
          labels: ['12 pm', '1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am', '10 am', '11 am'],
          datasets: [{
            label: 'Hours vs. number of orders',
            data: [12, 19, 13, 15, 12, 13, 20, 13, 15, 16, 12, 11],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
          }]
        },

        options: {
          // responsive: false,
          scales: {
            xAxes: [{
              ticks: {
                // maxRotation: 90,
                // minRotation: 80
                fontSize: 16
              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true,
                fontSize: 16,
                padding: 5
              }
            }]
          }
        }
      });

      //========================================================

      var topLocationsChartx = document.getElementById('topLocationsPieChart').getContext('2d');
      
      var topLocationsChart = new Chart(topLocationsChartx, {
        type: 'pie',
        data: {
          datasets: [{
            data: [20, 30, 25, 40],
            backgroundColor: ["rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)", "rgb(54, 162, 235)"],
            label: 'Orders in each area'
          }],
          labels: ['Gulshan', 'Banani', 'Niketon', 'Baridhara']
        },
        options: {
          responsive: true
        }
      });

    });

  </script>
<% end %>
