<div class="container">
  <div class="py-4">
    <h1 class="semi">Show Promo Code</h1>
    <hr>
  </div>

  <p>
    <strong>Id:</strong>
    <%= @promo_code.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @promo_code.name %>
  </p>

  <p>
    <strong>Promo type:</strong>
    <%= @promo_code.promo_type %>
  </p>

  <p>
    <strong>Discount value:</strong>
    <%= @promo_code.discount_value %>
  </p>

  <p>
    <strong>Minimum amount:</strong>
    <%= @promo_code.minimum_amount %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= @promo_code.expiration_date.strftime("%I:%M %p - %a, %d %b %Y") %>
  </p>

  <%= link_to 'Edit', edit_promo_code_path(@promo_code) %> |
  <%= link_to 'Back', promo_codes_path %>

</div>
