<div class="container">

  <div class="py-4">
    <h1 class="semi">Show Delivery Point</h1>
    <hr>
  </div>

  <p>
    <strong>Id:</strong>
    <%= @delivery_point.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @delivery_point.name %>
  </p>

  <p>
    <strong>Manager:</strong>
    <% if @delivery_point.manager.present? %>
      <%= @delivery_point.manager.name %>
    <% else %>
      Manager is not assigned
    <% end %>
  </p>

  <%= link_to 'Edit', edit_delivery_point_path(@delivery_point) %> |
  <%= link_to 'Back', delivery_points_path %>

</div>