<div class="container table-container order-cable-here" datapage="myorders" datapointid="">
	<div class="row">
		<div class="col-12 py-4">
			<h1 class="semi">My Orders <span class="realtime-status">Realtime: <span id="realtime-status-message">Connecting...</span></span></h1>

      <h1 class="btn btn-warning" id="enable-notification-sound">Enable Notification Sound</h1>

      <hr>
		</div>
		<hr>
		<div class="col-12" style="overflow-x: scroll;">
			<table id="all-orders-table" class="display">
				<thead>
					<tr>
            <th>ID</th>
						<th>Name</th>
						<th>Address</th>
						<th>Order Details</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @myorders.each do |order| %>
					<tr>
			      <td><%= order.id %></td>
						<td><%= order.fullname %> <span class="badge badge-pill badge-primary"><%= order.existing %></span></td>
						<td>
							Address : <%= order.address %><br> 
							Flat/House : <%= order.flathouse %><br>
							Road : <%= order.road %><br>
              Instruction : <%= order.instructions %>
						</td>
						<td>
							<% order.itemquantity.to_s.split("-").each do |i| %>
								<p class="semi mb-0"><%= i.split(".")[1] + "x " + i.split(".")[0] rescue '---' %></p>
							<% end %>

              <hr class="my-1">
              <p class="m-0">Subtotal : <%= order.subtotal %></p>
              <p class="m-0">Discount <%= "( #{order.promo_discount_value}% )" if order.percentage_discount? %> : <%= order.discount %></p>

							<hr class="my-1">
							<p class="semi m-0">Total : <%= order.total %></p>
						</td>
						<td><%= order.status %></td>
						<td>
							<%= link_to 'Call', "tel:#{order.phone}", class: 'btn btn-sm btn-warning' %>
	                        
	                        <% if order.latlng.present? %>
		                        <a class="btn btn-sm btn-primary" href="https://www.google.com/maps/?q=<%= order.latlng %>">Navigate</a>
		                    <% end %>
		                    <%= link_to 'Deliver', order_deliver_path(order), class: 'btn btn-sm btn-success' %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

</div>


<%# content_for :user_javascript do %>
  <%#= render partial: '/layouts/cable/order_cable_js' %>
<%# end %>
