<div class="container">
	<div class="row">
		<div class="col-12 py-4">
			<h1 class="semi">New User Sign Up</h1>
			<hr>
		</div>
		<hr>
	</div>

  <div>
    <% if @user.errors.any? %>
    <div class="text-danger">
      <h6><%= pluralize(@user.errors.count, "error") %>:</h6>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </div>

	<div class="row">
		<div class="col-md-5 col-12">
			<%= form_for @user do |f| %>

				<div class="form-group row">
					<label class="col-3 col-form-label">Name</label>
					<div class="col">
						<%= f.text_field :name, class: "form-control", :required => true %>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-3 col-form-label">Username</label>
					<div class="col">
						<%= f.text_field :username, class: "form-control" %>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-3 col-form-label">Password</label>
					<div class="col">
						<%= f.password_field :password, class: "form-control", :required => true %>
					</div>
				</div>

				<div class="custom-control custom-switch mb-4">
					<%= f.check_box :admin, :value => true, class: "custom-control-input", id: "customSwitch1" %>
				  <label class="custom-control-label" for="customSwitch1">Admin Access</label>
				</div>



				<%= f.submit class: "btn btn-success btn-sm" %>
				<%= link_to "Back", users_path, :class => "btn btn-outline-primary btn-sm" %>

			<% end %>	
		</div>
	</div>
</div>