<div class="container">
	<div class="row">
		<div class="col-12 py-4">
			<h1 class="semi">Create Order</h1>
			<hr>
		</div>
	</div>

  <% if @order.errors.any? %>
    <div id="error_explanation" class="text-danger">
      <h5><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h5>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="row">
		<%= form_for @order, html: {class: "col-12"} do |f| %>
		
    <div class="row">	
		
		<div class="col-7">

      <input type="hidden" name="page_name" value="admin_order">

      <%= f.hidden_field :delivery_point_id %>
      <%= f.hidden_field :user_id, value: 1 %>
      <%= f.hidden_field :itemquantity, id: 'itemquantity' %>
      <%= f.hidden_field :subtotal, id: 'subtotal-field' %>
      <input type="hidden" name="order_items_string" id="order_items_string">

			<div class="form-group row">
				<label class="col-3 col-form-label">Delivery Area</label>
				<div class="col">
					<div class="delivey-point-select-wrap">
						<select id="select-delivery-point" class="select-delivery-point bg-white shadow-sm border-0 form-control">
							<option value="">-- Please select --</option>
							<% DeliveryPoint.all.each do |item| %>
							<option value="<%= item.id %>"><%= item.name %></option>
							<% end %>
						</select>
					</div>
          <div class="small mt-2" id="menu-delivey-point-title">Select your delivery area</div>
				</div>
			</div>

			<div id="menu-holder">
				<div class="row">
					<% visible_products_name = [] %>
						<% @products.each do |product| %>
							<%
							product_hidden = true 
							unless visible_products_name.include? product.name 
								visible_products_name << product.name
								product_hidden = false
							end
							%>
						<% if product.status == "Sold Out" %>
							<%= render 'layouts/product_soldout', product: product, product_hidden: product_hidden %>
						<% else %>
							<%= render 'layouts/product_available', product: product, product_hidden: product_hidden %>
						<% end %>
					<% end %>

				</div>
			</div>
		</div>

		

		<div class="col-5">
				<div class="form-group row">
					<label class="col-3 col-form-label">Name</label>
					<div class="col">
						<%= f.text_field :fullname, class: "form-control", :required => true %>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-3 col-form-label">Phone</label>
					<div class="col">
						<%= f.text_field :phone, class: "form-control", :required => true %>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-3 col-form-label">Address</label>
					<div class="col">
						<%= f.text_field :address, class: "form-control", :required => true %>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-3 col-form-label">Source</label>
					<div class="col">
						<%= f.select(:source, ['Direct', 'Foodpanda', 'UberEats', 'Pathao'], {}, { :class => 'form-control border-0 shadow-sm' }) %>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-12">
						<span class="btn btn-primary col rounded cursor-pointer" id="cart-btn">
							<span class="col text-left">
								<i class="fas fa-shopping-cart"></i> Calculate 
								<span class="btn-success" id="cart-number">0</span>
							</span>
						</span>
					</div>
				</div>


				<div class="modal-card" id="admin-card">
					<% @products.each do |product| %>
					<div class="row" id="modal-product-<%= product.id %>">
						<div class="col-7 text-left"><%= product.name %></div>
						<div class="col-5 text-right"><span id="mq-<%= product.id %>"></span> x <%= product.price %></div>
					</div>
					<% end %>

					<div id="discount-wrap" style="display:none;">
						<hr class="card-hr">
						<div class="row">
							<div class="col-5 text-right sub">TK <span id="discount_amount"></span></div>
						</div>
					</div>

					<hr class="card-hr">
					<div class="row">
						<div class="col-7 text-left sub">Total</div>
						<div class="col-5 text-right sub">TK <span id="total_amount"></span></div>
					</div>

				</div>

				<span style="display:none;" id="admin-order-submit-wrap">
          <%= f.submit class: "btn btn-success" %>

  				<%= link_to "Back", orders_path, :class => "btn btn-outline-primary" %>
        </span>
			
		</div>
	</div>
		<% end %>	
	</div>
</div>