<div class="container">
	<div class="row">
		<div class="col-12 py-4">
			<h1 class="semi">Assign Order</h1>
			<hr>
		</div>
		<hr>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="jumbotron bg-default py-4 rounded">
				<h4 class="semi">Order Details</h4>
				<div class="jumbtron bg-light p-4 rounded">
					<p class="mb-0">Name : <%= @order.fullname %></p>
					<p class="mb-0">Phone : <%= @order.phone %></p>
					<p class="mb-0">Address : <%= @order.address %></p>
					<p class="mb-0">Subtotal : <%= @order.subtotal %></p>
				</div>
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5 col-12">
			<%= form_for @order do |f| %>

				<div class="form-group row">
					<label class="col-2 col-form-label">Name</label>
					<div class="col-10">
						<%= f.text_field :user_id, class: "form-control", list: "assign-user", value: "", :required => true %>
			            <datalist id="assign-user">
			            	<% User.all.each do |user| %>
				                <option value="<%= user.id %>"><%= user.name %></option>
			                <% end %>
			            </datalist>
					</div>
				</div>

				<div class="form-group">
					<div class="custom-control custom-switch">
						<input type="checkbox" class="custom-control-input" id="otw-btn">
						<label class="custom-control-label" for="otw-btn">On the Way</label>
					</div>
				</div>

				<div style="display: none;">
					<%= f.text_field :status, class: "form-control", id: "otw-status", :required => true, placeholder: "Status" %>
					<%= f.text_field :ontheway_time, class: "form-control", id: "otw-time", :required => true, placeholder: "OTW Time" %>
				</div>

				<%= f.submit class: "btn btn-success btn-sm" %>

			<% end %>	
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).on('turbolinks:load', function() {
		$("#otw-btn").click(function(){
			$("#otw-time").val(("<%= Time.now %>"));
			$("#otw-status").val(("On The Way"));
		})
	});
</script>