<div class="container">
	<div class="row">
		<div class="col-12 py-4">
			<h1 class="semi">Cancel Order</h1>
			<hr>
		</div>
		<hr>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="jumbotron bg-dark py-4">
				<h4 class="semi text-white">Order Details</h4>
				<div class="jumbtron bg-light p-4 rounded">
					<p class="mb-0">Name : <%= @order.fullname %></p>
					<p class="mb-0">Phone : <%= @order.phone %></p>
					<hr class="my-1">
					Items Ordered
					<ul class="mb-2">
						<% @order.itemquantity.split("-").each do |i| %>
						<li class="mb-0"><%= i.split(".")[1] + "x " + i.split(".")[0] %></li>
						<% end %>	
					</ul>
					
					<p class="mb-0"><span class="semi">Subtotal :</span> <%= @order.subtotal %></p>
				</div>
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5 col-12">
			<%= form_for @order do |f| %>

				<div class="form-group row">
					<label class="col-2 col-form-label">Status</label>
					<div class="col-10">
						<%= f.select(:status, options_for_select([['Cancelled', "Cancelled"]]), {}, {class: "form-control"}) %>
					</div>
				</div>

				

				<%= f.submit class: "btn btn-success btn-sm" %>

			<% end %>	
		</div>
	</div>
</div>



