<div class="container table-container">
	<div class="row">
		<div class="col-12 py-4">
      <h1 class="semi">All Orders</h1>
			<!-- <h1 class="semi">All Orders <span class="realtime-status">Realtime: <span id="realtime-status-message">Connecting...</span></span></h1> -->
			<hr>
		</div>
		<hr>
		<div class="col-12" style="overflow-x: scroll;">
			<table id="all-orders-table" class="display">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Created</th>
						<th>D.P & Address</th>
						<!-- <th>Phone</th> -->
						<th>Order Details</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |order| %>
					<tr>
						<!-- ID -->
						<td><%= order.id %></td>
						<!-- Name -->
						<td> <%= order.fullname %><br><span class="badge badge-pill badge-primary"><%= order.existing %></span></td>
						<!-- Created -->
						<td>
							<div class="mb-1">
								<%= order.created_at.strftime("%a • %I:%M %p") %><br>
								<%= order.created_at.strftime("%d %b %Y") %>
							</div>
						</td>
						<!-- D.P & Address -->
						<td>
							<div>
							<% if order.delivery_point.present? %>
								<strong class="medium"><%= order.delivery_point.name %></strong>
								<hr class="my-1">
							<% end %>
								Address : <%= order.address %><br>
								Flat/House : <%= order.address %><br>
								Road : <%= order.road %>
							</div>
						</td>
						<!-- <td><%#= order.phone %></td> -->

						<!-- Order Details -->
						<td>
							<% order.itemquantity.split("-").each do |i| %>
								<p class="mb-0"><%= i.split(".")[1] + "x " + i.split(".")[0] %></p>
							<% end %>

							<hr class="my-1">

							<% if order.promo_name.present? %>
							<span class="badge badge-pill badge-success">PROMO : <%= order.promo_name %> <%="(#{order.promo_discount_value}%)" if order.percentage_discount?%></span>
							<p class="m-0">
								Subtotal : <%= "#{order.subtotal} (-#{order.discount} TK)" %>
							</p>


							<!-- <p class="m-0">Discount <%#="( #{order.promo_discount_value}% )" if order.percentage_discount? %> : <%#= order.discount %></p> -->
							<%# else %>
							<!-- <span class="badge badge-pill badge-dark">PROMO : NONE</span> -->
							<% end %>
							<p class="semi m-0">Total : <%= order.total %></p>

						</td>

						<td>
							<%= link_to 'Show', order_path(order), class: 'btn btn-sm btn-primary my-1' %>
	                        <%= link_to 'Delete', order_path(order), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %><br>
							<p class="semi my-1">
								<%= order.status %>
							</p>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% content_for :user_javascript do %>
  <%#= render partial: '/layouts/cable/order_cable_js' %>
<% end %>
