<div class="container table-container reload-page">
	<div class="row">
		<div class="col-12 py-4">
			<h1 class="semi">All Orders <span class="realtime-status">Realtime: <span id="realtime-status-message">Connecting...</span></span></h1>
			<hr>
		</div>
		<hr>
		<div class="col-12" style="overflow-x: scroll;">
			<table id="all-orders-table" class="display">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Created</th>
						<!-- <th>Phone</th> -->
						<th>Address</th>
						<th>Order Details</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |order| %>
					<tr>
						<td><%= order.id %></td>
						<td> <%= order.fullname %> <span class="badge badge-pill badge-primary"><%= order.existing %></span></td>
						<td><%= order.created_at.strftime("%a, %d %b %Y") %></td>
						<!-- <td><%#= order.phone %></td> -->
						<td><%= order.address %></td>
						<td>
							<% order.itemquantity.split("-").each do |i| %>
								<p class="mb-0"><%= i.split(".")[1] + "x " + i.split(".")[0] %></p>
							<% end %>
							<hr class="my-1">
							<p class="semi m-0">Subtotal : <%= order.subtotal %></p>
						</td>
						<td><%= order.status %></td>
						<td>
							<%= link_to 'Show', order_path(order), class: 'btn btn-sm btn-primary' %>
	                        <%= link_to 'Delete', order_path(order), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% content_for :user_javascript do %>
  <%= render partial: '/layouts/cable/order_cable_js' %>
<% end %>
