<div class="container table-container">
	<div class="row">
		<div class="col-12 py-4">
			<h1 class="semi">Ongoing Orders</h1>
			<hr>
		</div>
		<hr>
		<div class="col-12">
			<table id="all-orders-table" class="display">
				<thead>
					<tr>
						<th>Name</th>
						<th>Phone</th>
						<th>Address</th>
						<th>Order Details</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |order| %>

					<% if order.status != "Delivered" %>
					<tr>
						<td><%= order.fullname %> <span class="badge badge-pill badge-primary"><%= order.existing %></span></td>
						<td><%= order.phone %></td>
						<td><%= order.address %></td>
						<td>
							<% order.itemquantity.split("-").each do |i| %>
								<p class="mb-0"><%= i.split(".")[1] + "x " + i.split(".")[0] %></p>
							<% end %>
							<hr class="my-1">
							<p class="semi m-0">Subtotal : <%= order.subtotal %></p>
						</td>
						<td><%= order.status %></td>
						<td>
							<%= link_to 'Assign', order_assign_path(order), class: 'btn btn-sm btn-warning' %>
	                        <%= link_to 'Delete', order_path(order), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger disabled' %>
						</td>
					</tr>
					<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>