<div class="container table-container reload-page">
	<div class="row">
		<div class="col-12 py-4">
			<h1 class="semi">Ongoing Orders <span class="realtime-status">Realtime: <span id="realtime-status-message">Connecting...</span></span></h1>
			<hr>

      <%= render 'layouts/delivery_point_name', delivery_point: @delivery_point %>
		</div>


		<div class="col-12" style="overflow-x: scroll;">
			<table id="all-orders-table" class="display">
				<thead>
					<tr>
			            <th>ID</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Location</th>
						<th>Order Details</th>
						<th>Status</th>
						<th>Assigned To</th>
						<th>Create Time</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |order| %>

					<tr>
			            <td><%= order.id %></td>
						<td><%= order.fullname %> <span class="badge badge-pill badge-primary"><%= order.existing %></span></td>
						<td><%= order.phone %></td>
						<td>
							Address : <%= order.address %><br> 
							Flat/House : <%= order.flathouse %><br>
							Road : <%= order.road %> <br>
							Instruction : <%= order.instructions %>
						</td>
						<td>
							<% order.itemquantity.split("-").each do |i| %>
								<p class="mb-0"><%= i.split(".")[1] + "x " + i.split(".")[0] %></p>
							<% end %>
							<hr class="my-1">
							<p class="semi m-0">Subtotal : <%= order.subtotal %></p>
						</td>
						<td><%= order.status %></td>
						<td><%= order.user.name if order.user.present? %></td>
						<td><%= order.created_at.strftime("%I:%M %p") %></td>
						<td>
							<div class="mb-2">
                <%= link_to 'Assign', order_assign_path(order), class: 'btn btn-sm btn-warning' %>
              </div>
              
              <div class="mb-2">
                <%= link_to 'Cancel', order_cancel_path(order), class: 'btn btn-sm btn-danger' %>
              </div>

              <div class="mb-2">
                <%= link_to 'Show', order_path(order, back_url: request.path), class: 'btn btn-sm btn-primary' %>
              </div>
						</td>
					</tr>

					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% content_for :user_javascript do %>
  <%= render partial: '/layouts/cable/order_cable_js' %>
<% end %>
