<div class="container">
	<div class="row">
		<div class="col-12 py-4">
			<h1 class="semi">New Product</h1>
			<hr>
		</div>
		<hr>
	</div>

	<div class="row">
		<div class="col-md-5 col-12">
			<%= form_for @product do |f| %>

				<div class="form-group row">
					<label class="col-3 col-form-label">Name</label>
					<div class="col">
						<%= f.text_field :name, class: "form-control", :required => true %>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-3 col-form-label">Old Price</label>
					<div class="col">
						<%= f.text_field :old_price, class: "form-control" %>
					</div>
				</div>

        <div class="form-group row">
          <label class="col-3 col-form-label">Price</label>
          <div class="col">
            <%= f.text_field :price, class: "form-control", :required => true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-3 col-form-label">Available image</label>
          <div class="col">
            <%= f.file_field :available_image, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-3 col-form-label">Soldout image</label>
          <div class="col">
            <%= f.file_field :soldout_image, class: "form-control" %>
          </div>
        </div>

				<div class="form-group row">
					<label class="col-3 col-form-label">Status</label>
					<div class="col">
						<%= f.select(:status, options_for_select([['Available', "Available"], ['Sold Out', "Sold Out"]]), {}, {class: "form-control"}) %>
					</div>
				</div>

				<%= f.submit class: "btn btn-success btn-sm" %>

			<% end %>	
		</div>
	</div>
</div>