<nav class="navbar navbar-expand-lg navbar-light" id="navbar-order-wrap">
    <a class="navbar-brand" href="#"><img src="http://bit.ly/31WmmGG" width="90px" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <img src="<%= asset_path 'menu.png' %>" width="30px;">
    </button>

    <div class="collapse navbar-collapse semi" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class="nav-link color-black-important" href="/">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-black-important" href="/ourstory">Our Story</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-black-important" href="/contactus">Contact</a>
            </li>

            <% if logged_in? %>
                <li class="nav-item ml-auto">
                    <div class="btn-group">
                      <button type="button" class="btn btn-1 dropdown-toggle nav-link p-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="action-btn">
                      Admin
                      </button>
                      <div class="dropdown-menu">
                        <% if is_admin? %>
                          <a class="dropdown-item" href="/orders">All Orders</a>
                          <a class="dropdown-item" href="/users">All Users</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="<%= promo_codes_url %>">Promo Codes</a>
                          <div class="dropdown-divider"></div>
                        <% end %>

                        <% if is_admin? || current_user.delivery_points.count > 0 %>
                          <a class="dropdown-item" href="<%= delivery_points_path %>">Delivery Points</a>
                          <div class="dropdown-divider"></div>
                        <% end %>

                          <%= link_to 'My Orders', myorders_path, class: "dropdown-item color-black-important" %>
                          <%= link_to 'Logout', logout_path, method: :delete, class: "dropdown-item color-black-important" %>
                      </div>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</nav>
