<!DOCTYPE html>
<html>
  <head>
    <title>Dawaat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='cache-control' content='no-cache'>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head -%>

    <meta name="turbolinks-cache-control" content="no-cache">
    <!-- Font Awesome -->
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })();
    </script>
    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  </head>
<!--- ▀█▀ ░█▄─░█ ▀▀█▀▀ ░█▀▀█ ░█─░█ ░█▀▀▄ ░█▀▀▀ ░█▀▀█ █ █ █ 
      ░█─ ░█░█░█ ─░█── ░█▄▄▀ ░█─░█ ░█─░█ ░█▀▀▀ ░█▄▄▀ ▀ ▀ ▀ 
      ▄█▄ ░█──▀█ ─░█── ░█─░█ ─▀▄▄▀ ░█▄▄▀ ░█▄▄▄ ░█─░█ ▄ ▄ ▄ 

      Just kidding but hey, you code Ruby? Email us at fahim@dawaat.co and let's change how people thinks food!
 -->
  <body oncontextmenu="return false;">
    <%= render 'layouts/general_navbar' unless @disable_navbar %>
    <%= yield %>


    <%= render 'layouts/footer' unless @disable_footer %>
  </body>
</html>
